{% extends "base.html" %}
{% block content %}
<h2 class="mb-1">Commits</h2>
<div class="text-secondary mb-4">{{ repo }}</div>

<div class="list-group">
  {% for c in commits %}
  <a class="list-group-item list-group-item-action bg-panel border-secondary text-light" href="/repo/internal-api/commit/{{ c.id }}">
    <div class="d-flex justify-content-between">
      <div>
        <div class="fw-semibold">{{ c.msg }}</div>
        <div class="text-secondary small">{{ c.id }}</div>
      </div>
      <div class="text-secondary small">{{ c.when }}</div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
