services:
  router:
    build: ./router
    container_name: zipline_router
    ports:
      - "80:8080"
    depends_on:
      - public
      - internal-api

  public:
    build: ./public
    container_name: zipline_public
    environment:
      DB_PATH: /data/public.db
      PUBLIC_JWT_SECRET: "zipline-public-dev-secret"
      LAB_DOMAIN: "zipline.local"
      INTERNAL_SUBDOMAIN: "internal-api.zipline.local"
      INTERNAL_LOGIN_URL: "http://internal-api.zipline.local/api/v2/user/login"
      INTERNAL_HINT_USER: "svc-exporter"
      INTERNAL_HINT_PASS: "Spring2026!RotateMe"
      SEED_USER_EXPORT_ID: "3"
      SEED_FLAG_EXPORT_ID: "564"
    volumes:
      - zipline_data:/data

  internal-api:
    build: ./internal_api
    container_name: zipline_internal_api
    environment:
      INTERNAL_JWT_SECRET: "zipline-internal-dev-secret"
      INTERNAL_USER: "svc-exporter"
      INTERNAL_PASS: "Spring2026!RotateMe"
      FLAG: "APIVERSE{z1pl1n3_d0wnl04d_b0l4_p1v0t}"
      DB_PATH: /data/internal.db
    volumes:
      - zipline_data:/data

volumes:
  zipline_data:
